# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\my_projects\flask_projects\bluelog\小弟的开发\bluelog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.env
data-dev.db
.gitignore